* { /* сбрасываем у все элементов значения */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    /* для блока из 20 урока с картинкой на заднем плане */
    width: 1140px;
    margin: 0 auto; /* ставим блочный элемент по центру */
}

.promo {
    min-height: 800px; /* ширину из макета не указываем */
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    /* .. - выйти из папки css */
    /* center center - выравнивание по оси x о по оси y */
    /* cover - размер картинки - расиянуть картинку если она не помещается */
    /* no-repeat - картинка не должна повторяться */
    /* и если остальные свойства не нужны, ставим ; */
    /* без / между значенениями - картинки на странице не будет */
    padding: 39px 0 62px 0; /* задаём отступы сверху и снизу именно через padding */
}

.logo .logo_img, .surprise .surprise_logo, .end .end_img { /* вложенный класс */
    display: block; /* картинка строчный элемент */
    margin: 0 auto; /* и просто 'margin 0 auto' не сработает */
}

.logo .logo_text { /* возьми класс .logo и внути этого класса будет .logo_text */
    color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #f9bf3b;
    font-family: 'Roboto - Black';
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title { /* нет пробела - возьми заголовок h2 у которого класс .title */
    margin-top: 30px;
}

.simple .title_big {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
    /* line-height: 24px; текст наплывает друг на друга */
    /* чтобы это исправить и нужно закоментировать line-height */
    /* его нужно настраивать только когда есть несколько строк текста */
    /* 24px это значение по умолчания например в photoshop */
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px; /* паддинг по бокам 13px */
    margin-top: 23px;
    /* стараемся унифицировать вёрстку, везде марджины топ или марджин ботом */
    color: #fff;
    /* font-family: Roboto; можно закомментировать, поскольку есть 'font-family: 'Roboto-Light';' */
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: 'Roboto-Light';
    font-weight: 300;
    text-align: center;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-family: 'Roboto - Bold';
    font-weight: 700;
}

.promo .promo_btn, .surprise .surprise_btn {
    display: block; /* button это инлайн блок */
    margin: 0 auto;
    margin-top: 73px; /* стараемся везде унифицировать марджины */
    /* идёт после j,otuj марджина */
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    /* стилизуем текст кнопки */
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer; /* изменение мышки на руку */
    outline: none; /* убрать синюю обводку при наведении */
}
.surprise .surprise_btn {
    margin-top: 50px;
    border: 4px solid rgb(213, 213, 213);
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #fff;
    font-family: 'Roboto - Thin';
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    /* height: 604px; комментируем из 20 урока и меняем на минимальную высоту */
    min-height: 604px; /* сейчас визуально ничего не поменялось */
    /* но если увеличим текст в несколько раз, сейчас текст не вывалится а растянется блок */
    /* вообще очень мало элементов требуют фиксированную высоту */
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header { /* к уроку 20 */
    /* чтобы документ не разрастался, можно объеденить заголовки через запятую */
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.finish .finish_header {
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader, .end .end_subheader  {
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.end .end_subheader {
    margin-top: 23px;
}

.waiting .waiting_wrapper {
    display: flex; /* из 19 урока flexbox */
    /* поскольку ниже убрали margin и вертикальное выравнивание, элементы прижались друг к другу */
    justify-content: space-between; /* выровнять по главной оси при помо0щи space-between */
    /* дальше будем использовать flex потому-что инлайн блоки устаревающая технология */
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    /* display: inline-block; убираем, из 19 урока flexbox */
    /* у родителя задаём flexbox */
    /* vertical-align: top; прижимаем все элементы к верхнему краю */
    /* убираем, потому-что назначили flexbox */
    /* margin: 0 15px; убираем, потому-что назначили flexbox */
    width: 339px; /* высоту задавать не будем */
    /* потому-что, если изменится текст, а высота будет жестко задана, текст может вывалиться */
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%; /* картинка займёт 100% от ширины родителя */
    /* если здесь мы зададим высоту картинке, а картинка будет других пропорций, она сплющится */
}

.waiting .waiting_wrapper .waiting_item .waiting_decsr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    /* вырв=авнивание по центру не нужно, тк его применили на уровень выше */
}

/* =================================================================== */

/* 20 УРОК */
/* в 19 уроке был вопрос, что если поменяется текст в будущем у блока флекс, он вывалится */

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    /* margin-left: 629px; расстояние не верное, тк указано расстояние до края картинки */
    margin-left: 391px;
    color: #299cbd;
    font-family: 'Roboto - Black';
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-family: 'Roboto Light';
    font-weight: 300;
}

.optimization .optimization_text span {
    font-family: 'Roboto - Bold';
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute; /* родитель класс container */
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url(../img/bg/second_bg.jpg) center center/cover no-repeat;
    /* center center - выравние по оси y и по оси x */
    /* cover no-repeat - на всю ширину и не повторять */
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center; /* выравнивание по главной оси */
    align-items: center; /* выравнивание по поперечной оси */
    margin: 0 auto; /* выравниваем сами круги по центру */
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    /* теперь задача расположить иконки по центру кругов */
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.surprise {
    background-color: #efefef;
    min-height: 628px;
    padding: 83px 0;
}

.surprise .surprise_decr {
    font-size: 30px;
    line-height: 43px;
    margin-top: 42px;
    text-align: center;
}

.end {
    padding: 80px 0 67px 0;
}

.end h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 38px;
    text-transform: uppercase;
}

.end .end_time {
    color: #299cbd;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    font-family: Roboto;
    margin-top: 30px;
    text-transform: uppercase;
}

footer {
    background-color: #1a1a1a;
    min-height: 166px;
    padding: 61px 0 69px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    color: #888888;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
    line-height: 21px;
}

footer a {
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
    line-height: 21px;
}

.underlined {
    text-decoration: underline;
}