* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* grid не замена flex */
/* их можно комбинировать в одном проекте */

/* CSS Grid - модель создания шаблона */
/* которая оптимизирована для создания двумерных макетов */
/* flex - работают только в одном измерении */
/* flex-wrap перемещал вниз объекты если они не помещались */
/* но со строками работать никак нельзя */

/* Grid контейнер и Grid элементы */
/* сетка будет состоять из вертикальных и горизонтальных линий */
.grid-container {
    display: grid;
    /* задаём колонки */
    grid-template-columns: 200px 200px 200px;
    /* колонки можно задать разной ширины */
    /* указывать можно любые единицы - пиксели, проценты и прочее */
    /* задаём строки */
    grid-template-rows: 60px 150px 60px;
    
    /* Grid элемент называют треком */

    /* свойство для создания разрывов между элементами сетки */
    /* grid-column-gap: 20px; */
    /* vs code при выборе зачёркивает это свойство */
    /* свойства css меняются со временем */
    /* инспектор при наведении на свойство укажет, что свойство было заменено */
    /* оно было заменено на: column-gap: 20px и row-gap: 20px*/
    /* их можно объеденить */
    gap: 20px; /* grid-gap - устаревшее свойство */

    /* так же и с template */
    grid-template: 80px 150px 30px / 50% 200px 200px;
    /* сначала строки, потом колонки */

}

.grid-elem {
    height: 50px;
    /* если не указать высоту элемента, он подстроится под высоту строки */
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}