.sidepanel {
	position: fixed;
	top: 230px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 380px;
	z-index: 3;
	&__divider {
		width: 2px;
		height: 70px;
		background-color: #df642f;
	}
	&__text {
		height: 150px;
		width: 25px;
		span {
			color: $main-color;
			transform: rotate(-90deg) translate(-35%,-260%);
			display: block;
			width: 150px;
			font-weight: bold;
		}
	}
}