/* Свойство Font Family */
/* шрифты можно подключить 3 разными способами */

/* 1й: подключение шрифтов, которые есть в Вашем компьютере */
/* в инспекторе в computed указан подключенный шрифт */
/* сейчас это Times - local file */

html { /* синтаксис */
    font-family: Gill Sans Extrabold, sans-serif;
} /* свойство font-family: название семейства, общий тип шрифта */
/* общий тип шрифта - самые популярные это serif и sans-serif */
/* serif - шрифт с засечками - используется в типографии */
/* sans-serif - шрифт без засечек - используется в веб */

/* font-family поддерживает сразу несколько шрифтов */
html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
} /* при загрузке, система сначала проверит шрифт Verdana, если он есть, подключи его */
/* если этого шрифта нет, он смотрит на Arial, если нет, смотрит Helvetica */
/* а если и его нет, просто говорим, подключи шрифт, который подходит под sans-serif */
/* подключение шрифтов Verdana, Arial, Helvetica не используется, потому-что они очень простые */

/* =================================================================== */

/* 2й: удалённое подключение шрифтов */
/* плюс способа - простота, уменьшение нагрузки на наш сервер */
/* минусы - сервер не наш, и нет понимания стабильности его работы */
/* так же на google fonts есть не все шрифты а некоторые не поддерживают кирилицу */

/* подключить удалённо шрифт можно или через link в head либо через @import в style */
/* предпочтительнее через тег link */
/* при выборе начертаний шрифта нужно помнить, что это влияет на скорость загрузки страницы */
/* поэтому в веб дизайне стараются подключать не больше 2 шрифтов и начертаний */

/* добавили link в head html */
html {
    font-family: 'Roboto', sans-serif;
}

/* =================================================================== */

/* 3й: локальное подключение */
/* бывает, что шрифт отсутствует на Google Fonts */