/* Свойство Font Family */
/* шрифты можно подключить 3 разными способами */

/* 1й: подключение шрифтов, которые есть в Вашем компьютере */
/* в инспекторе в computed указан подключенный шрифт */
/* сейчас это Times - local file */

html { /* синтаксис */
    font-family: Gill Sans Extrabold, sans-serif;
} /* свойство font-family: название семейства, общий тип шрифта */
/* общий тип шрифта - самые популярные это serif и sans-serif */
/* serif - шрифт с засечками - используется в типографии */
/* sans-serif - шрифт без засечек - используется в веб */

/* font-family поддерживает сразу несколько шрифтов */
html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
} /* при загрузке, система сначала проверит шрифт Verdana, если он есть, подключи его */
/* если этого шрифта нет, он смотрит на Arial, если нет, смотрит Helvetica */
/* а если и его нет, просто говорим, подключи шрифт, который подходит под sans-serif */
/* подключение шрифтов Verdana, Arial, Helvetica не используется, потому-что они очень простые */

/* =================================================================== */

/* 2й: удалённое подключение шрифтов */
/* плюс способа - простота, уменьшение нагрузки на наш сервер */
/* минусы - сервер не наш, и нет понимания стабильности его работы */
/* так же на google fonts есть не все шрифты а некоторые не поддерживают кирилицу */

/* подключить удалённо шрифт можно или через link в head либо через @import в style */
/* предпочтительнее через тег link */
/* при выборе начертаний шрифта нужно помнить, что это влияет на скорость загрузки страницы */
/* поэтому в веб дизайне стараются подключать не больше 2 шрифтов и начертаний */

/* добавили link в head html */
html {
    font-family: 'Roboto', sans-serif;
}

/* =================================================================== */

/* 3й: локальное подключение */
/* бывает, что шрифт отсутствует на Google Fonts */

@font-face {
    font-family: 'Roboto Black';
    src: url('Roboto-Black.eot');
    src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Black.woff') format('woff'),
    url('Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

/* Если скаченные шрифты так подключить, будет ошибка */
/* дело в пути подключения, шрифты должны находиться в папке fonts */
/* а файл css находится в папке css */

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.title {
    font-family: 'Roboto Black', sans-serif;
    /* font-weight: 900; можно уже не указывать */
}

/* так делать не удобно, у каждого селектора нужно указывать семейство */
/* когда мы подключили шрифт через html с google fonts */
/* мы всему документу задали семейство Roboto и потом только манипулировали front-weight */
/* и это мы можем также сделать и для локального подключения шрифтов */

@font-face {
    font-family: 'Roboto'; /* удаляем из названия Light */
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300; /* удаляем из названия normal */
    font-style: normal;
    }

.title {
    /* font-family: 'Roboto Light', sans-serif эта строка уже не нужна; */
    font-weight: 300;
}

/* так можно создать отдельное семейство шрифтов и менять только font-weight */

/* =================================================================== */

/* Формат шрифтов */

/* некоторые старые браузеры не поддерживают определённый формат шрифтов */
/* их нужно конвертировать */
/* чаще всего сейчас подключается только 2 формата WOFF и WOFF2 */

/* при удалённом подключении формат текста выбирается автоматически */
/* подключится то который нужен */