* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* :root псевдоселектор, корневой псевдокласс */
/* запись в root почти тоже самое, что просто указание html */
/* но специфичночть root выше */
:root {
	--text-color: blue;
	--big-text: 20px;
}

h1 {
	margin: 20px;
}

.wrapper {
	--text-color: blue; /* использовать переменную можно либо на этом селекторе */
	/* либо на вложенных элементах */
}

.element {
	width: 500px;
	margin: 20px;
	color: var(--text-color);
}

.big { /* функция это переменная, она имеет второй параметр - callback */
	font-size: var(--big-text, red); /* если первый параметр не будет применён, используется callback */
}

/* sass переменные в отличие от css используются только там */
/* css переменные сохраняются в DOM дереве */
/* это значит для их можно использовать в адаптивности, в медиа правилах */

@media (max-width: 600px) {
	:root {
		--big-text: 30px;
	}
	.wrapper {
		--text-color: red;
	}
}

/* css переменные также можно использовать в препроцессорах */