/* Специфичность CSS селекторов */
div {
    color: blue; /* весь текст синий */
}

.element {
    color: red; /* теперь весь текст красный */
}

.big {
    color: #000; /* первый блок покрасился в чёрный цвет */
}

/* теперь если посмотреть инспектор, в нём у класса big два перечёркнутых стиля */

#second {
    color: yellow; /* воторой блок покрасился в жёлтый цвет */
}

/* различные способы стилизации элементов имеют разный приоритет */
/* в понятии стилей это называется специфичность */
/* те какой то селектор будет более специфичный, чем другой */
/* в литературе на английском это больше называется как каскадность */
/* ведь css расшифровывается как Cascading Style Sheets */

/* когда мы что то стилизуем с помощью тегов, эти стили являются наименее специфичные */
/* классы являются уже более специфичными чем селекторы тега */
/* стили если они конфликтуют берутся от последнего */
/* id очень специфичный идентификатор - это правило может повторяться только для одного элемента */

/* селектор id почти самый специфичный и самый важный */
/* есть инлайн стили - они самые специфичные */

/* все селекторы мы можем комбинировать - вложенные классы */
.wrapper .element { /* есть класс .wrapper и внутри его есть класс .element */
    color: orange; /* блок покрасился в оранжевый цвет */
} /* вложенные классы специфичнее, чем отдельные */

#second.element { /* не поставили пробел между ними */
/* звучит это так: берём уникальный идентификатор second и при этом у него есть класс element */
    color: green;
} /* когда есть пробел это разные элементы, когда нет пробела - это один элемент */
/* цвет не поменялся, но в инспекторе видно, что главный это инлайн стиль */
/* а за ним идёт вложенный селектор и с id second и с классом element */