/* Специфичность CSS селекторов */
div {
    color: blue; /* весь текст синий */
}

.element {
    color: red; /* теперь весь текст красный */
}

.big {
    color: #000; /* первый блок покрасился в чёрный цвет */
}