.title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	&_left {
	/* тк это единственный заголовок который будет прижат к левому краю */
		color: #fff;
		font-size: 36px;
		text-align: left;
	}
}