* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', san-serif;
}

/* Явные и неявные Grid */

.grid-container {
    display: grid;
    width: 1140px;
    margin: 82px auto 0 auto;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(2, 260px);
    /* заданные сетки это явные гриды */
    /* всё остальное это неявная сетка - неявные гриды */
    /* браузер создаёт её полностью автоматически */

    /* зададим поведение неявных гридов */
    /* неявный грид будет расти всегда вниз, будут добавляться строки */
    grid-auto-rows: 260px;
    /* grid-auto-columns: 240px; сейчас ничего не будет, тк сетка растёт только вниз */
    gap: 60px;
}

.news-item .news-item__img {
    width: 100%;
}

.news-item .news-item__descr {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    line-height: 16px;
}