// в этот файл собираем и подключаем все файлы стилей

// все перемещённые и переименованные файлы scss нужно подключить
// чтобы в index.html подключался только один файл стилей
@import 'libs/bootstrap-reboot.min';
@import 'libs/_font';
@import 'libs/slick';
@import 'libs/animate';

@import 'base/variables';
@import 'base/animations';
* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
	max-width: 950px; /* весь макет определённой ширины */
	margin: 0 auto; /* выраниваем по центру */
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalogs';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';

@import 'base/media';